## IO
# pinMode OUTPUT
snippet pinout
	pinMode(${1}, OUTPUT);
# pinMode INPUT
snippet pinin
	pinMode(${1}, INPUT);
# digitalWrite HIGH
snippet dwHigh
	digitalWrite(${1}, HIGH);
# digitalWrite LOW
snippet dwLow
	digitalWrite(${1}, LOW);
# digitalRead
snippet dr
	digitalRead(${1});
# serialRead
snippet sr
	serialRead();
# serial.println
snippet sp
	serial.println(${1});
# delay
snippet dl
	delay(${1});
snippet template empty
	void setup() {
		${1:// setup code}
	}

	void loop() {
		// loop
	}
