## updated : 2019-4-30
snippet cdn_jquery_3_4_0
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
snippet cdn_jquery_3_2_1
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
snippet cdn_jquery_2_2_4
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
snippet cdn_jquery_1_12_4
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>
snippet cdn_jquery_google_3_2_1
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
snippet cdn_jquery_google_2_2_4
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
snippet cdn_jquery_google_1_12_4
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
snippet cdn_ros
	<script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
snippet cdn_ros2d
	<script src="http://cdn.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
	<script src="http://cdn.robotwebtools.org/ros2djs/current/ros2d.js"></script>
	<script src="http://cdn.robotwebtools.org/nav2djs/current/nav2d.min.js"></script>
snippet cdn_ros3d
	<script src="http://cdn.robotwebtools.org/threejs/current/three.js"></script>
	<script src="http://cdn.robotwebtools.org.s3.amazonaws.com/ros3djs/current/ros3d.min.js"></script>
snippet cdn_angular_1_6_4
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
snippet cdn_angular_material_1_1_1
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
snippet cdn_angular_ui_dojo_1_12_2
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.12.2/dojo/dojo.js"></script>
snippet cdn_angular_ui_ext_core
	<script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
snippet cdn_angular_ui_hammerjs_2_0_8
	<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
snippet cdn_angular_ui_indefinite_observable_1_0_1
	<script src="https://ajax.googleapis.com/ajax/libs/indefinite-observable/1.0.1/indefinite-observable.js"></script>
snippet cdn_proto_1_7_3
	<script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
snippet cdn_threejs
	<script src="https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js"></script>
snippet cdn_material_icon
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
snippet cdn_bootstrap_3_3_7
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
snippet cdn_bootstrap_4_3_1
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
snippet cdn_bootstrap_bundle_4_3_1
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
snippet cdn_vue_js
	<script src="https://unpkg.com/vue"></script>
snippet cdn_foundation_6_4_3
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"></script>
snippet cdn_glmatrix_2_6_1
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.6.1/gl-matrix-min.js"></script>
snippet cdn_d3js_v5
	<script src="https://d3js.org/d3.v5.min.js"></script>
snippet cdn_dimplejs_2_3_0
	<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
