## updated : 2017-5-29
##
##
snippet cdn jquery 3.x
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
snippet cdn jquery 2.x
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>
snippet cdn jquery 1.x
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>
snippet cdn jquery google 3.x
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
snippet cdn jquery google 2.x
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
snippet cdn jquery google 1.x
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
snippet cdn jquery
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
snippet cdn ros
	<script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
snippet cdn ros2d
	<script src="http://cdn.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
	<script src="http://cdn.robotwebtools.org/ros2djs/current/ros2d.js"></script>
	<script src="http://cdn.robotwebtools.org/nav2djs/current/nav2d.min.js"></script>
snippet cdn ros3d
	<script src="http://cdn.robotwebtools.org/threejs/current/three.js"></script>
	<script src="http://cdn.robotwebtools.org.s3.amazonaws.com/ros3djs/current/ros3d.min.js"></script>
snippet cdn angular
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
snippet cdn angular material
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
snippet cdn angular ui dojo
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.12.2/dojo/dojo.js"></script>
snippet cdn angular ui ext core
	<script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
snippet cdn angular ui hammerjs
	<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
snippet cdn angular ui indefinite observable
	<script src="https://ajax.googleapis.com/ajax/libs/indefinite-observable/1.0.1/indefinite-observable.js"></script>
snippet cdn proto
	<script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
snippet cdn threejs
	<script src="https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js"></script>
snippet cdn material icon
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
snippet cdn bootstrap
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
snippet cdn bootstrap theme
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
snippet cdn bootstrap js
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
snippet cdn vue js
	<script src="https://unpkg.com/vue"></script>
snippet cdn_foundation
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"></script>
