snippet pybind include
	#include <pybind11/pybind11.h>

	namespace py = pybind11;
snippet pybind function
	PYBIND11_PLUGIN($1) {
		py::module m("${1:module_name}", "docstring");
		m.def("${2:func}", &$2, "docstring");
		return m.ptr();
	}
snippet pybind object
	PYBIND11_PLUGIN($1) {
		py::module m("${1:module_name}", "docstring");

		py::class_<${2:Object}>(m, "$2")
			.def(py::init())
			// .def(py::init<${4:const std::string &}>())
			.def("${2:Function}", &$2::$2);
		return m.ptr();
	}
