snippet ros
	var ros = new ROSLIB.Ros({
		url: 'ws://localhost:9090'
	});

	ros.on('connection', function() {
		// handle connection
	});

	ros.on('close', function() {
		// handle close
	});

	ros.on('error', function() {
		// handle error
	});
snippet ros_topic
	var topic = new ROSLIB.Topic({
		ros: ros,
		name: '${1:/topic}',
		messageType: '${2:std_msgs/String}'
	});

	topic.subscribe(function(msg) {
		// handle message
	});

	topic.publish(new ROSLIB.Message({
		// message data
	}));
